
/**
 * GLOABALS
 **/
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
	background: #F2F2F2;
}

.no-padding {
	padding: 0;
}

.hidden-element {
	display: none;
}

/**
 * CONTENT
 **/
#users {
	list-style: none;
}


#messages {
	height: 400px;
	overflow-y: scroll;
}

.message {
	margin: 0 0 5px 0;
}

.message .info {
	background: #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px;
	position: relative;
}

.message p {
	margin: 0;
}

.message span.date {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12px;
	opacity: 0.5;
}